.modal {
  position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    @include transitionStyle(transition);
    background-color: var(--primary-white-color);
  
    @media screen and (max-width: 767px) {
      width: calc(100% - 30px);
      max-width: 450px;
    }
  
    @media screen and (min-width: $tablet) {
      width: 450px;
    }
  
    @media screen and (min-width: 1199px) {
      width: 528px;
    }
  }

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
